:root {
    --border-radius: 3px;
    --status-1: #b30c01;
    --status-2: #a87a00;
    --status-3: #6d8219;
    --status-4: #0d9600;
}

body {
    min-width: 620px;
    background: #eeeeee url("/static/img/ccbg.png") fixed;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

h1, .board-title, .board-column-title {
    font-weight: 100;
}

h1 {
    text-align: center;
    font-size: 4em;
    letter-spacing: 5px;
}

button {
    background: #222;
    color: #fff;
    border: none;
    font-size: 14px;
    font-family: sans-serif;
    padding: 4px 10px;
}

.board-container {
    max-width: 960px;
    margin: 0 auto;
}

section.board {
    margin: 20px;
    border: aliceblue;
    background: #ffffff90;
    border-radius: 3px;
}

.card-header .fa {
    transition: .3s transform ease-in-out;
}

.card-header .collapsed .fa {
    transform: rotate(-90deg);
}

.board-header {
    height: 50px;
    background: #fff;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.board-title {
    margin: 13px;
    display: inline-block;
    font-size: 20px;
}

.board-title, .board-add, .board-toggle {
    display: inline-block;
}

.board-toggle {
    float: right;
    margin: 13px;
}

.board-columns {
    display: flex;
    flex-wrap: nowrap;
}

.board-column {
    padding: 10px;
    flex: 1;
}

.board-column-content {
    min-height: 45.6px;
}

.board-column-content:empty {
    /*This only works if the tag is really empty and there is not even whitespace inside*/
    border: 4px solid #cdcdcd;
    margin-top: 4px;
    border-radius: 5px;
    background: #eee;
}

.board-column-title {
    text-align: center;
    border-bottom: grey solid 1px;
    margin-bottom: 10px;
}

.card {
    position: relative;
    background: #222;
    color: #fff;
    border-radius: 5px;
    margin: 4px 0;
    padding: 4px;
}

.card-body {
    background: #2e2e2e;
}

.board-column:nth-of-type(1) .card {
    background: var(--status-1);
}

.board-column:nth-of-type(2) .card {
    background: var(--status-2);
}

.board-column:nth-of-type(3) .card {
    background: var(--status-3);
}

.board-column:nth-of-type(4) .card {
    background: var(--status-4);
}

.card-remove {
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 12px;
    cursor: pointer;
}

.card-edit {
    display: block;
    position: absolute;
    top: 24px;
    right: 4px;
    font-size: 12px;
    cursor: pointer;
}

.card-title {
    padding-right: 16px;
}

.btn:focus {
    outline: 0;
}

::placeholder {
    color: #ffffff;
}

*:focus {
    outline: none;
}

.alert {
    position: fixed;
    text-align: center;
    width: 125px;
    left: 80vw;
    top: 10vh;
    transition-duration: 0.5s;
}

.card-title > input {
    width: 150px;
}

.hidden {
    position: fixed;
    left: 78vw;
    top: 13vh;
    opacity: 0;
    transition-duration: 2s;
}

.dropdown-menu {
    border-radius: 8px;
}
